@inherits LayoutComponentBase

@using AMDespachante.UI.Web.Components.Shared.Profile
@using Microsoft.AspNetCore.Authorization
@using AMDespachante.Application.Interfaces

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IRecursoAppService RecursoAppService

@attribute [Authorize]

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <NavProfile />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool IsAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        await CheckAuthenticationAndAccessStatus();
    }

    private async Task CheckAuthenticationAndAccessStatus()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        IsAuthenticated = authState.User.Identity.IsAuthenticated;

        if (!IsAuthenticated)
        {
            NavigationManager.NavigateTo("Account/Login", forceLoad: true);
            return;
        }

        if (await RecursoAppService.IsFirstAccess(authState.User.Identity.Name))
        {
            NavigationManager.NavigateTo("Account/Manage/ChangePassword", forceLoad: true);
            return;
        }

        StateHasChanged();
    }
}

<style>
    .mud-button-filled.mud-button-filled-primary {
        color: #000000;
        --mud-ripple-color: #000000;
        background-color: #FFD700;
    }

        .mud-button-filled.mud-button-filled-primary:hover {
            background-color: #cca700;
        }

    .mud-link.mud-button.mud-button-filled.mud-button-primary {
        color: #000000 !important;
        background-color: #FFD700 !important;
        text-decoration: none;
    }

        .mud-link.mud-button.mud-button-filled.mud-button-primary:hover {
            background-color: #cca700 !important;
        }

    .mud-icon-root.mud-primary-text:not(.mud-icon-size-inherit):not(.mud-icon-button) {
        color: #FFD700 !important;
    }

    .mud-ripple-primary {
        --mud-ripple-color: #000000;
    }
</style>