@inherits LayoutComponentBase

@using AMDespachante.UI.Web.Components.Shared.Profile
@using Microsoft.AspNetCore.Authorization
@using AMDespachante.Application.Interfaces

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IRecursoAppService RecursoAppService

@attribute [Authorize]

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <NavProfile />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool IsAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        await CheckAuthenticationAndAccessStatus();
    }

    private async Task CheckAuthenticationAndAccessStatus()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        IsAuthenticated = authState.User.Identity.IsAuthenticated;

        if (!IsAuthenticated)
        {
            NavigationManager.NavigateTo("Account/Login", forceLoad: true);
            return;
        }

        if (await RecursoAppService.IsFirstAccess(authState.User.Identity.Name))
        {
            NavigationManager.NavigateTo("Account/Manage/ChangePassword", forceLoad: true);
            return;
        }

        StateHasChanged();
    }
}